#note-submit {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 350px;
    border-left: 20px solid gray;
}

#title-input {
    padding: 20px;
    padding-bottom: 10px;
    border: none;
    transition: box-shadow 0.3s ease;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
}

#title-input:focus {
    outline: none;
}

textarea {
    padding: 20px;
    padding-top: 10px;
    font-size: 16px;
    border: none;
    transition: box-shadow 0.3s ease;
    resize: none;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

textarea:focus {
    outline: none;
}

#button-submit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    font-weight: bold;
}