#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  position: relative;
  padding: 2em;
  border-bottom: 1px solid gray;
}
.card:first-child {
  border-top: 1px solid gray;
}


